#Android{
    border-radius:55px;
    width:100px ;
    height:55px ;
    position:absolute; 
top:2%; 
}
	header{
    background-color:#2c3832 ;
    width:100% ;
    height:160px;
}
h1{
   font-size:40px ;
    color:#fff;
    font-family:Microsoft JhengHei;
position:absolute; 
top:4%; 
left:42%;
 
}
	.Androidi{
		font-size:20px ;
    color:#fff;
    font-family:Microsoft JhengHei;



		   text-decoration:none;
		border-radius:60px;
	}
	
	.Androidi:hover{
		  background-color:#4ad989;
	cursor:pointer;
		   text-decoration:none;
	}
	
	.items{
     position:absolute;
		top:13%;
left:35%;
		
}
	a{
		text-decoration:none;
	}
	.d{
		font-size:20px ;
    color:#fff;
    font-family:Microsoft JhengHei;
	}
#ul{
	display:none;
}
#mainmenu{
	display:none;
	
}
#menu{
	
width:60px;	
	
}

@media (orientation: portrait), (max-width:200px){
	h1{
		  text-align:center ;
		 font-size:30px ;
    color:#fff;
    font-family:Microsoft JhengHei;
	}
	#Android{
    border-radius:10px;
    width:70px ;
    height:55px ;
    position:absolute; 
top:2%; 
}
	header{
    background-color:#2c3832 ;
    width:100% ;
    height:120px;
}
.d{
	display:none;
	}
	.items{
		display:none;
	}
	#mainmenu{
		display:block;
		position:absolute;
		top:6%;
	left:84%;
	}
	
}

@media  (max-height:200px){
	
	h1{
		  text-align:center ;
		 font-size:30px ;
    color:#fff;
    font-family:Microsoft JhengHei;
	}
	#Android{
    border-radius:10px;
    width:70px ;
    height:55px ;
    position:absolute; 
top:2%; 
}
	header{
    background-color:#2c3832 ;
    width:100% ;
    height:120px;
}
.d{
	display:none;
	}
	.items{
		display:none;
	}
	#mainmenu{
		display:block;
		position:absolute;
		top:6%;
	left:84%;
	}
	

.items{
     position:absolute;
		top:19%;
left:35%;
		
}
	
	
	
	
	
}

@media    (max-height:800px){
	
	h1{
		  position:absolute; 
top:4%; 
left:20%;
 
		 font-size:20px ;
    color:#fff;
    font-family:Microsoft JhengHei;
	}
	#Android{
    border-radius:10px;
    width:70px ;
    height:55px ;
    position:absolute; 
top:2%; 
}
	header{
    background-color:#2c3832 ;
    width:100% ;
    height:120px;
}

	
		

.items{
     position:absolute;
		top:13%;
left:35%;
		
}
	
	
	
	
	
}
