  @font-face {
  font-family:h2;
  src: url(https://rsmn574.github.io/NotoSansTC-Bold.otf);
}
	.mt-0{
		font-family:h2;
		
	}
	#title{
		 height: 100px;
         background: #aaa;
	}

	.mr-3{
		width:200px;
		border-radius:20px;
	}
	 .ahover{
	color:#141414;
	  text-decoration:none;
	}
	.ahover:hover{
		color:#1181ff;
		text-decoration:none;
    transition: 0.7s;
		
	}
	
	.date{
		opacity:0.7;
		font-family:微軟正黑體;
	}
  
