
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap');
@font-face {
  font-family:ex;
  src: url(https://rsmn574.github.io/NotoSansTC-Thin.otf);
}

.ex{
 font-family:ex;
 font-size:15px;
}





#div{
 background-color:#fff;
 
}
.h1{
 font-family: 'Titillium Web', sans-serif;
 background-color:#fff;
}
.p{
  font-family: 'Noto Sans TC', sans-serif;
 font-size:20px;
}
img{
  max-width：100％; 
 height：auto; 
 
 }
h2{
 font-family:Microsoft JhengHei;
 
 
}



#div{
  line-height:40px;

}
