
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap');
@font-face {
  font-family:ex;
  src: url(https://rsmn574.github.io/NotoSansTC-Thin.otf);
}

.ex{
 font-family:ex;
 font-size:18px;
}


#nav{
 background-color:#5089C6;
}


#div{
 background-color:#fff;
 
}
.h1{
 font-family: 'Titillium Web', sans-serif;
 background-color:#fff;
}
.p{
  font-family: 'Noto Sans TC', sans-serif;
 font-size:20px;
}

h2{
 font-family:Microsoft JhengHei;
 
 
}

img{
	width:90%;
	
}

#div{
  line-height:40px;

}
.square{
  
   font-size:16px;
  
}
 @media screen and (min-width:1000px) and (max-width:900000000px){
     img{
	width:80%;
	 }
}
  
 @media screen and (min-width:10px) and (max-width:1000px){
     img{
	width:100%;
	 }
  }
@media (prefers-color-scheme: dark) {
  
   body{
			 background-color: #18191a;
	  transition: 0.2s;
	}
  .p{
    color:#ffffff;
    
  }
  .h1{
    color:#ffffff;
  }
  h2{
    color:#ffffff;
  }
  #div{
  background-color: #18191a;
 
}
.h1{
	 background-color: #18191a;
	}
		 
	#nav{
 background-color:#293B5F;
}	
	
  
}

